body {
    background-color: lightgray;
}

li {
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
}

button {
    margin-top: 30px;
}

#borderedleftside {
    border-left: 1px solid lightgray;
}

@media screen and (max-width: 767px){
    #borderedleftside {
        border-left: none;
    }
}

h5 {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lowerh5 {
    font-weight: normal;
}

#submitbutton {
    width: 100%;
}